@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xll8yr');
  src:  url('fonts/icomoon.eot?xll8yr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xll8yr') format('truetype'),
    url('fonts/icomoon.woff?xll8yr') format('woff'),
    url('fonts/icomoon.svg?xll8yr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-administracionpersonal:before {
  content: "\e914";
}
.icon-pruebasconfianza:before {
  content: "\e915";
}
.icon-talento:before {
  content: "\e916";
}
.icon-psicometricas:before {
  content: "\e917";
}
.icon-capitalhumano:before {
  content: "\e918";
}
.icon-socioeconomico:before {
  content: "\e919";
}
.icon-capacitacion:before {
  content: "\e91a";
}
.icon-close-button:before {
  content: "\e913";
}
.icon-pointer:before {
  content: "\e912";
}
.icon-call-center:before {
  content: "\e911";
}
.icon-investigaciones:before {
  content: "\e90a";
}
.icon-aplicacion-pruebas:before {
  content: "\e90b";
}
.icon-asesoria-capital:before {
  content: "\e90c";
}
.icon-administracion-personal:before {
  content: "\e90d";
}
.icon-programas-capacitacion:before {
  content: "\e90e";
}
.icon-pruebas-confianza:before {
  content: "\e90f";
}
.icon-busqueda-talento:before {
  content: "\e910";
}
.icon-politicas:before {
  content: "\e900";
}
.icon-semblanza:before {
  content: "\e901";
}
.icon-mision:before {
  content: "\e902";
}
.icon-responsabilidad:before {
  content: "\e903";
}
.icon-valores:before {
  content: "\e904";
}
.icon-vision:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
