body {
  font-family: 'Lato', sans-serif;
}
.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
a, a:hover {
  text-decoration: none !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    padding-left: 0px;
    height: 116px;
    z-index: 105;
    background-color: #ffffff;

    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.25);
}
.header #header_main #menu {
    height: 78px;
    position: relative;
    padding: 5px 0px;
    padding-top: 0px;
}
.main {
    top: 10px;
    right: 0px;




    text-align: center;

    position: absolute;
}

.main span.icon-user {
    border-right: none;
    margin-right: 0px;
}
.main span {
    display: inline-block;
  padding: 12px 10px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #224ca4;
    text-transform: uppercase;
    border-right: 2px solid #2a84c9;
    font-size: 13px;

    font-weight: 400;
    position: relative;
}

.header #header_main #menu nav.main span:hover {

    color: #ffcc0c;
    text-transform: uppercase;
    border-right: 2px solid #2a84c9;

}

.valign{
  position:relative;
  top:50%;
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  vertical-align:top;
}
.logodam {
  top: 10px;
  position: absolute;
width: 160px;
margin: 0 auto;
left: 30px;

}
.navbar-toggle .icon-bar {
    background-color: #224ca4;
    width: 20px;
    height: 3px;
    display: block;
    margin-bottom: 3px;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.navbar-toggle {
    border-color: #8fa5d4;
    border: none;
    border-radius: 3px;
    padding: 10px;
    display: none;
}

.navbar-toggle.open .icon-bar:first-child {
  transform: rotate(45deg);
  position: absolute;

  top: 15px;

}
.navbar-toggle.open .icon-bar:nth-child(2) {
  opacity: 0;
}
.navbar-toggle.open .icon-bar:nth-child(3) {
  transform: rotate(135deg);
  position: absolute;

  top: 15px;
}
.header #header_main #menu1 {
    height: 40px;
    position: relative;
    padding: 5px 0px;
    padding-top: 0px;
      background-color: #224ca4;
}
#menu1 a {
    color: #fff;
}
#menu1 a:hover {
    opacity: .6;
}
.header #header_main #menu1 nav.main {
    float: right;
    right: 15px;
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    text-align: center;
    position: relative;
}
.header #header_main #menu1 nav.main span {
    display: inline-block;
  padding: 0px 14px;
    height: 25px;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #fff;

    border-right: 1px solid #fff;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.header #header_main #menu1 nav.main .border-none span {
  border-right:none;
}
.slider {
  width: 100%;
  height: 900px;
  object-fit: cover;
    object-position: right;
}
.sliderP {
  color:#224ca4;
}
.sliderh1 {
  color:#224ca4;
  font-size: 70px;
  font-weight: bold;
}
.sliderP2 {
    color:#224ca4;
    font-weight: bold;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 22%;
    color: #fff;
    text-align: left;
}
.damsa-escucha {
  width: 100%;
  height: 500px;
  background:url('/images/bg-contacto.png') no-repeat;
  background-size: cover;
}
.texto_redes{
text-decoration: none;
 margin: 0px;
 background-color: #e0b905;
  color: #fff;
       padding: 20px;
    text-align: center;
    border:0px solid #ffffff;
     width:300px;
margin-top: 30px;
     cursor: pointer;
     text-shadow: none;
}
.tuto {
  text-decoration: none !important;
}
.texto_redes:hover{
  background: #daad28;
  text-decoration: none;
}
.decoration-none {
  text-decoration: none !important;
}

.valoresh, .valoresh{
  padding: 40px;
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;
}
.valoresh h3, .valoresh h3 {
  color: #224ca4;
}
.title {
  color: #224ca4;
  font-size: 32px;
  line-height: 32px;
  margin-top: 50px;
  font-weight: 700;
}
.title.yellow {
  color: #f0c23c;
}
.serviciosmovil {
    margin: 30px auto 40px;
}
.serviciosmovil span {
    font-size: 45px;
}
.subtitle {
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.valoresh p, .valoresh p{
  color: #224ca4;
}
.icon-user {
  font-size: 30px !important;
    vertical-align: middle;
    margin-right: 15px;

}
.dark {
  width: 100px;
      background-color: #f0c23c;
      height: 12px;
      margin: 0 auto;
      text-align: center;
      margin-top: 18px;
}
.dark.left {
  margin-left: 0px;
}

.serviciosh{
  padding: 40px;
  
    width: 100%;
    height: 535px;
    background-color: #06225cd4;

}
.serviciosh .title {
  margin-top: 40px;
}
.subtitle.white {
  color: #e1dddd
}

#serviciosub{
  color: #ccc9c9;
  text-align: left;

  font-size: 16px;
  font-weight: 900;
  margin: 0;
  text-shadow: none;
}
.icono-home {
  color: #f0c23c;
  margin-top:70px;
  font-size: 70px;
}
.service-title {
  font-size: 28px;
  line-height: 32px;
  color: #25559b;
  max-width: 305px;
  margin: 0 auto;
}
.carousel-indicators {
      bottom: -20px;
}
.carousel-indicators li {
  border:none;
  background: #375a8c;
  margin: 0px 8px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
.ds {
    position: absolute;
    height: 220px;
}
.sliserv span {
    font-size: 50px;
}
.indicads .active {
  width: 16px !important;
  height: 16px !important;
  background-color: #f0c23c !important;
}
.service-p {
  color: #5c5c5c;
  font-weight: 300;
  max-width: 305px;
  margin: 0 auto;
}
.homed2 {
  margin-top: 50px;
}
.franjaServ div{
      width: 100px;
      background-color: #ffe500;
      height: 14px;

}

.serviciosh1{
  height: 535px;
  padding-right: 1px;
  padding-left: 1px;
  background:url('/images/bg-index2.png') no-repeat;
  background-size: cover;
}
.imgServ {
    height: 535px;
    width: 100%;
}
.ds{
      margin-top: 50px;
}

.sliserv{
  padding: 40px;
  padding-right: 2%;
    width: 100%;
    height: auto;

    text-align: center;
}
.sliserv h3{
  color: #fff;
}
.sliserv p{
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

.indicads .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #ddd404;

}


.sliderP3 {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    text-shadow: none;
}

.porque-trabajar {
  background:url('/images/bg-index3.png') no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.sliderVacanteP {
  color:#224ca4;
}
.sliderVacanteh1, .sliderVacanteh3 {
  color: #fff;
  text-shadow: none;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 0px;
}
.sliderVacanteh2, .sliderVacanteh4 {
  color: #fff;
  text-shadow: none;
  font-size: 58px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 50px;
}
.sliderVacanteh4 { 
  margin-bottom: 0px;
}
.sliderVacanteh3, .sliderVacanteh4 {
    color: #25559b;
}
.num-mejora {
    font-size: 130px;
    position: absolute;
    text-align: center;
    width: calc(100% - 75px);
    color: #fff;
    font-weight: 600;
    z-index: 0;
    opacity: .3;
    top: calc(50% - 100px);
}
.sliderVacanteP2 {
    color:#224ca4;
    font-weight: bold;
}
.img-slider {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.tuto {
  text-decoration: none !important;
}
.tuto .texto_vacantes {
  margin-top: 30px;
}
.texto_vacantes:hover {
    background: #daad28;
}

.textoEncima1{
  top: 50%;
transform: translateY(-50%);
position: absolute;
z-index: 300;

}
.textoEncima{
  top: 50%;
transform: translateY(-50%);
position: absolute;
z-index: 300;
    text-align: center;
}
.texto_vacantes {
    text-decoration: none;
    margin: 0 auto;
    background-color: #e0b905;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border: 0px solid #ffffff;
    width: 300px;
    text-shadow: none;
}

.filtroimg{
  background-color: #020e5785;
  width: 100%;
  height: 800px;
}

.mejoracontinua{
  text-align: center;
  width: 100%;
  height: 200px;

}
.mejoracontinua h3{
 color: #224ca4;
     margin-top: 54px;

}
.franjaServ1 div{
      width: 100px;
      background-color: #ffe500;
      height: 14px;
      margin: 0 auto;

}
.mejoracuadros1 {
    padding: 15px;
    padding-right: 2%;
    width: 100%;
    height: 320px;
background-color: #224ca4;
    text-align: center;
}

.mejoracuadros1 h3, .mejoracuadros2 h3{
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}
.mejoracuadros1 h2, .mejoracuadros2 h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0px;
}

.mejoracuadros2 {
    padding: 15px;
    padding-right: 2%;
    width: 100%;
    height: 320px;
background-color: #e0b905;
    text-align: center;
}


.SliderI {





  margin-top: 116px;
}
.sliderP {
  font-size: 26px;
  font-weight: 300;



















  margin: 0;
  text-shadow:none;


}
.sliderh1 {










  font-size: 80px;
  font-weight: 900;





















  margin: 0;
  line-height: 70px;
  text-shadow:none;






}

.Footer #footer_main #menu1 nav#main span.icon-call-center {
    font-size: 20px;
    vertical-align: sub;
}

#main div {
    display: inline-block;
  }


.sliderP2 {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  text-shadow:none;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}
.carousel-control-next-icon:before, .carousel-control-next-icon:after {
    border-right: 6px solid #25559b;
    content: '';
    display: block;
    height: 28px;










    margin-top: -6px;
    position: absolute;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 30px;
    top: 50%;












    width: 0;



}


.carousel-control-next-icon:after {
    margin-top: 10px;


    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}









.carousel-control-prev-icon:before, .carousel-control-prev-icon:after {
    border-right: 6px solid #25559b;
    content: '';
    display: block;
    height: 28px;
    margin-top: -6px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 30px;
    top: 50%;
    width: 0;



}


.carousel-control-prev-icon:after {
    margin-top: 10px;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.mapa {
  height: 680px;
}

.Footer {

    width: 100%;
left: 0;
top: 0;

padding-left: 0px;

z-index: 105;
background-color:#224ca4 ;
box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.25);

}




.imgNosotros {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.Nosotros .seccion1{
  padding-bottom: 50px;
}

.Nosotros [class^="icon-"], [class*=" icon-"]{
  font-size: 90px !important;
    color: #f5e023;
}

.Nosotros .contenedor1{
  width: 100%;
    margin: 0 auto;
}

.Nosotros .cont1{
  
  font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  color: #6f6f6f;
}
.cont-semblanza {
  width: calc(100% - 150px);
  margin-left: 10px;
}
.cont-semblanza #contenedor1 {
  color: #fff;
}

.Nosotros .valoresh h3{
  font-size: 26px;
  margin-top: 20px;
}

.Nosotros .sembla{

    padding: 40px;
    width: 100%;
    height: auto;

    text-align: center;

}

.Nosotros .seccion2 .sembla h1{
    color: #ffe500;
    margin-bottom: 0px;
}
.Nosotros .seccion2 .sembla h3{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 20px;
}
.Nosotros .seccion2 .sembla p{
    color: #fff;
}
.Nosotros .seccion2 .sembla2 p{
    color: #fff;
}
.Nosotros .seccion2 .sembla .semblaIcon{
   padding: 10px;
 width: 120px;
 display: inline-block;
 vertical-align: top;
}


.Nosotros .contenedor2{
  width: 100%;
  max-width: 850px;
    margin: 0 auto;
}
.Nosotros .contenedor2 .cont2{
text-align: center;
}

.Nosotros .seccion2 .row{

}

.Nosotros .seccion6 .row {
    margin-right: 0;
    margin-left: 0;
}
.Nosotros .seccion2{
  background: url(/images/bg-nosotros1.png) no-repeat;
    background-size: cover;
  height: auto;
  padding-bottom: 80px;
}
.Nosotros .sembla2 {
    background: rgba(26,68,113,.74);
    padding: 40px;
    width: 100%;
    height: auto;
    text-align: center;
}

.Nosotros .seccion3 {
  padding-top: 50px;
  text-align: left;
}
.Nosotros .seccion3 p{
  text-align: left;
}
.Nosotros .seccion3 .sembla h3{
    color: #224ca4;
    font-size: 20px;
    text-align: left;
}
.Nosotros .seccion3 .sembla h1{
    color: #224ca4;
    margin-top: 0px;
}

.Nosotros .ers2 {
    text-decoration: none;
    margin: 0;
    background-color: #e0b905;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 0px solid #ffffff;
    width: 300px;
    margin-top: 30px;
    cursor: pointer;
    text-shadow: none;
}
.Nosotros .ers2:hover {
    background-color: #cea901;
    text-shadow: none;
}


.Nosotros .seccion4 .sembla #semblaIcon {
    margin: 0 auto;
    /* float: left; */
    margin-top: 120px;
}

.Nosotros .seccion4 .sembla h1{
    color: #ffe500;
}
.Nosotros .seccion4 .sembla h3{
    color: #fff;
}
.Nosotros .seccion4 .sembla p{
    color: #fff;
}
.Nosotros .seccion4 .sembla2 p{
    color: #fff;
}
.Nosotros .seccion4 .sembla #semblaIcon{

 margin-top: 120px;
}
.Nosotros .seccion4 .contenedor1 {
    width: 100%;
    margin: 0 auto;
}

.Nosotros .logoesr{
  width: 100%;
  max-width: 300px;
  padding-top: 40px;

}

.Nosotros .seccion4{
  height: auto;
  background: url(/images/bg-nosotros2.png) no-repeat;
    background-size: cover;
    text-align: center;

}

.Nosotros .seccion5 .contenedor1 {
    width: 100%;
    margin: 0 auto;
}

.Nosotros .seccion5  {
  height: auto;
  padding: 50px 0px 80px;
}
.logo-certificacion {
  height: 200px;
}
.Nosotros .seccion5 .logosr {
    max-width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
}

.Nosotros .seccion6{
  padding: 50px;
  background: url(/images/bg-nosotros3.png) no-repeat;
    background-size: cover;
    text-align: center;
}

.Nosotros .seccion6 .contenedor1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.Nosotros .seccion6 .sembla p{
    color: #fff;
    text-align: center;
}

.Nosotros .seccion1 .row {
    margin-right: 0;
    margin-left: 0;
    padding-top: 50px;
}
.Nosotros .seccion2 .row {
    margin-right: 0;
    margin-left: 0;
}
.Nosotros .seccion3 .row {
    margin-right: 0;
    margin-left: 0;
}
.Nosotros .seccion4 .row {
    margin-right: 0;
    margin-left: 0;
}
.Nosotros .seccion5 .row {
    margin-right: 0;
    margin-left: 0;
}


.Servicios .valoresh {
    padding: 40px;
    padding-right: 2%;
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: left;
}

.Servicios .sliderP2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    text-shadow: none;
}

.Servicios .seccion1 {
    height:auto;
    padding-top: 50px;
}

.Servicios .seccion1 .row {
    margin-right: 0;
    margin-left: 0;
}
.Servicios [class^="icon-"], [class*=" icon-"] {
    font-size: 90px !important;
    color: #f5e023;
}

.Servicios .valoresh h3 {
    font-size: 20px;
    color: #575757;
    font-weight: 700;
    margin-top: 20px;
    max-width: 340px;
}
.Servicios .valoresh p, .Servicios .valoresh ul {
    text-align: left;
    color: #636363;
}

.Servicios .contenedor1 {
  
    width: 100%;
    margin: 0 auto;
}
.Servicios .seccion4 {
    height: auto;
    padding: 80px 0px 100px;
    background: url(/images/bg-servicios1.png) no-repeat;
      background-size: cover;
      text-align: center;
}
.Servicios .seccion4 .row {
    margin-right: 0;
    margin-left: 0;
}

.Servicios .sembla {
    padding: 40px;
    padding-right: 2%;
    width: 100%;
    height: auto;
    text-align: center;
}
.Servicios .seccion4 .sembla h1 {
    color: #ffe500;
}
.Servicios .seccion4 .sembla p {
    color: #fff;
}







.Servicios .seccion2 {
    height: 690px;
    background-color: #2c4578;
}

.Servicios .seccion2 .sembla h1 {
    color: #ffe500;
}
.Servicios .seccion2 .sembla h3 {
    color: #fff;
}
.Servicios .seccion2 .sembla p {
    color: #fff;
}
.Servicios .contenedor2 {
    width: 100%;
    margin: 0 auto;
}
.Servicios .sembla2 {
    background-color: #05053626;
    padding: 40px;
    padding-right: 2%;
    width: 100%;
    height: auto;
    text-align: center;
}
.Servicios .seccion2 .sembla2 p {
    color: #fff;
}
.Servicios .seccion2 .sembla img {
    width: 60%;
}

.Servicios .seccion3 {
    height: 690px;
    background-color: #2c4578d1;
}
.Servicios  .sembla .culturaTitulo {
    color: #fff;
    font-size: 60px;
}
.Servicios  .sembla .culturaP {
    color: #fff;
    font-size: 30px;
}




.Ers .valoresh {
     width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;

}
.Ers .borde {

  height: 300px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    position:relative;
}

.Ers .seccion1 {
    height:auto;
}

.Ers .seccion1 .row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
}
.Ers [class^="icon-"], [class*=" icon-"] {
    font-size: 90px !important;
    color: #f5e023;
}

.Ers .valoresh h3 {
    font-size: 26px;
    color: #575757;

}
.Ers .valoresh p {

    color: #636363;
}
.Ers .valoresh p.vermas  {
position: absolute;
    bottom: 20px;
    margin-bottom: 0px;
    color: #f0c23c;
    left: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.Ers .contenedor1 {
  padding: 15px;
  
    width: 100%;
    margin: 0 auto;
}
.Ers .seccion4 {
    height: 400px;
    background-color: #224ca4;
}
.Ers .seccion4 .row {
    margin-right: 0;
    margin-left: 0;
}

.Ers .sembla {
    
    width: 100%;
    height: auto;
    text-align: center;
}
.Ers .seccion4 .sembla h1 {
    color: #ffe500;
}
.Ers .seccion4 .sembla p {
    color: #fff;
}

.Ers .seccion2 {
    height: auto;
    padding: 50px 0px;
    background-color: #2c4578;
}

.Ers .seccion2 .sembla h1 {
    color: #ffe500;
}
.Ers .seccion2 .sembla h3 {
    color: #fff;
}
.Ers .seccion2 .sembla p {
    color: #fff;
}
.Ers .contenedor2 {
    width: 100%;
    margin: 0 auto;
}
.Ers .sembla2 {
    background-color: #05053626;
    padding: 40px;
    padding-right: 2%;
    width: 100%;
    height: auto;
    text-align: center;
}
.Ers .seccion2 .sembla2 p {
    color: #fff;
}
.Ers .seccion2 .sembla img {
    width: 100%;
}

.Ers .seccion3 {
    background: url(/images/bg-index3.png) no-repeat;
    background-size: cover;
    height: auto;
    padding: 50px 0px;
    width: 100%;
}
.Ers  .sembla .culturaTitulo {
    color: #fff;
    font-size: 60px;
}
.Ers  .sembla .culturaP {
    color: #fff;
    font-size: 20px;
    max-width: 800px;
    margin: 30px auto;
}
.Ers  .seccion6 img {
  object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 1;
}



.Ers .seccion6{
        background-color: #fff;
}
.text-esr {
  margin-top: 30px;
}

 .filtro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
                background: linear-gradient(to top, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0) 60%);
}
.Ers  .seccion6 .contenedorGaleria {
    position: relative;
    height: 430px;
}
.contenedorGaleria h3 {
    left: 12px;
    position: absolute;
    font-size: 22px;
    text-transform: uppercase;
    top: 20px;
    color: #5c5c5c;
}
.Galeri .contenedorGaleria {
  position: relative;
}
.Galeri .contenedorGaleria h3 {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    height: 50px;
    top: initial;
}
.contenedorGaleria h2 {
    left: 12px;
    position: absolute;
    font-size: 18px;
    text-transform: uppercase;
    top: 46px;
    color: #5c5c5c;
}
.Ers  .seccion6 .texto {
  background-color: #ffcc00;
    color: #000;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 60px;
    width: 80%;
    z-index: 10;
    height: 90px;
}
.line1, .line2 {
  width: 40px;
  height: 2px;
  left: 15px;
  position: absolute;
  background: #5c5c5c;
}
.line1 {
  top: 10px;
}
.line2 {
  bottom: 10px;
}
.Ers .row {
    margin-right: 0;
    margin-left: 0;
}

.Ers .ers2 {
    text-decoration: none;
    margin: 0auto;
    background-color: #ffcc00;
    color: #4d4d4d;
    padding: 20px;
    text-align: center;
    border: 0px solid #ffffff;
    width: 300px;
    margin-top: 0px;
    cursor: pointer;
    text-shadow: none;
}
.Ers .ers2:hover {
  background: #e0b905;
}
.Ers .ers2.center {
  margin: auto;
}
.Ers .valoresh .logosapoyos {
  max-height: 60px;
  max-width: 200px;
    margin: 0 auto;
    margin-top: 40px;
}
.Ers .btngaleria {
    padding: 0px;
    width: 100%;
    height: auto;
    text-align: center;
}
.contenedor-galerias {
  margin-top: 50px;
}
.Galeri .row {
    margin-right: 0px;
    margin-left: 0px;
}

.Galeri .sembla {
    padding: 40px;
    padding-right: 2%;
    width: 100%;
    height: auto;
    text-align: center;
}


.Galeri .gale {
    padding: 0px;
    padding-right: 0%;
    width: 100%;
    height: auto;
    text-align: center;
}
.Galeri .seccion6 .contenedorGaleria {
  position: relative;
    height: 450px;
}
.Galeri .seccion6 img {
  object-fit: cover;
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
}
.Galeri .filtro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.43) 40%, rgba(0, 0, 0, 0) 60%);
}

.Galeri .seccion6 {
  padding-top: 50px;
}



.react-photo-gallery--gallery img{
  object-fit: cover;

}

.react-photo-gallery--gallery {
  padding-top: 110px;

}
.menu-map span {
  font-size: 30px;
    text-align: center;
    margin-right: 0px;
    display: block;
    padding: 8px;

    color: #fff;
    border-bottom: 1px solid #5470b6;
}

.menu-map p {
  font-size: 20px;
    text-align: center;
    margin-right: 0px;
    display: block;
    padding: 8px;

    color: #fff;

}
.menu-map.open {
    background: rgba(70, 97, 175, 0.8);
    max-height: 500px;
    height: 350px;
    width: 500px;
    max-width: 500px;
    overflow: auto;
    margin: 0 auto;
        z-index: 1;
}
.menu-map {
  width: 500px;
margin: 0 auto;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 76px;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
}




.mapa .navbar-toggle {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 1000;
    height: 34px;
}
.mapa .navbar-toggle {
    border-color: #8fa5d4;
}
.mapa .navbar-toggle {
    display: block;
}
button.navb {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 7px;
}

.navb {
    position: absolute;
    right: 0px;
    top: 3px;
    z-index: 1000;
    height: 44px;
    border: 0;
    border-color: #8fa5d4;
    background-color: #ffffff00;

}
.navb .icon-bar {
    background-color: #224ca4;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.mapa iframe{
  width: 100%;
max-width: 800px;
border: none;
margin: 0 auto;
display: -webkit-box;
}
.mapa #sucursal1{
  bottom: 75%;
  position: absolute;
  left: 42%;
  font-size: 30px;
  color: #fff;
  width: 70px;
}
.mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 54%;
    font-size: 30px;
    color: #fff;
    width: 70px;
}
.mapa #sucursal3 {
  margin-top: -290px;
position: absolute;
left: 47%;
font-size: 24px;
color: #fff;
width: 70px;
}

.mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 54%;
    font-size: 24px;
    color: #fff;
    width: 70px;
}

.mapa #sucursal5 {
  margin-top: -264px;
position: absolute;
left: 74%;
font-size: 24px;
color: #fff;
width: 70px;
}


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.Footer #footer_main #menu {

    position: relative;
    padding: 5px 0px;
    padding-top: 0px;
}

.Footer #footer_main #menu1 {
    height: 80px;
    position: relative;
    padding: 5px 0px;
    padding-top: 0px;
    background-color: #fcda00;
}
.Footer #footer_main #menu nav#main {
    top: 50%;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    position: relative;
}

.Footer #footer_main #menu nav#main span {
    display: inline-block;
    padding: 12px 4px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #fff;
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.Footer #footer_main #menu1 nav#main {
    float: right;
    right: 15px;
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    text-align: center;
    position: relative;
        top: 20px;
}

.Footer #footer_main #menu1 nav#main span {
    display: inline-block;
    padding: 0px 14px;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #224ca4;

    font-size: 14px;
    font-weight: 400;
    position: relative;
}
.main span:hover {
      color: #e0b905;
}

#contacto {
  text-align: center;


  background: url(/images/bg-index5.png) no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

#contacto h3{
color: #ffe500;
}
#contacto p{
color: #fff;
}
.mapa .icon-pointer {
  color: #f0c23c !important;
  cursor: pointer;
}


#formul .form-control{
   background-color:#dcdcdc52;
   font-size: 18px;
   height: 45px;color:#ffffff;
   border-radius: 0px;
}
#formul .form-control3{
   width: 100%!important;
   height: 219px ;
   background-color:#dcdcdc52;
   font-size: 18px;
   color:#ffffff;
   border: 1px solid rgba(0,0,0,.15);
   padding: 10px;
}

#formul #boton{
  height: 60px;
    font-size: 18px;
    width: 100%;
    max-width: 200px;
    text-decoration: none;
    margin: 0px;
    background-color: #fcda00;
    color: #fff;
    text-align: center;
    border: 0px solid #ffffff;
    padding: 10px;
    border-radius: 0px;
}

#nCuenta{
  display: none;
}
#nTargeta{
  display:none;
}

#pax{
  display: none;
}
#formul {
  margin: 0 auto;
  padding-top: 50px;
}
.home.form-control::-webkit-input-placeholder {
    color: #fff!important;
}

::-webkit-input-placeholder {
    -webkit-text-security: none;
      color: #fff!important;
    pointer-events: none !important;
}
#btncontact {
  text-align: left;
}


.Contact #contacto {
  text-align: center;
  height: 800px;
  background-color: #242f6b;
}

.Contact #contacto h3{
color: #ffe500;
}
.Contact #contacto p{
color: #fff;
}

.Contact .seccion6 {
  background:url('/images/bg-atencion-clientes.jpg') no-repeat;
  height: 480px;
}

.container-btns-contact {
  width: 50%;
  background: rgba(255,255,255,.6);
  height: auto;
  position: absolute;
  left: 50%;
  padding: 50px 30px;
}

.container-btns-contact h1 { 
  text-transform: uppercase;
  font-size: 24px;
  color: #5c5c5c;
  font-weight: 700;
}

.container-btns-contact p { 
  color: #5c5c5c;
}

.title-btn-contact {
  color: #f0c23c;
  font-weight: 700;
}

.Contact .seccion1 {
  background: #25559b;
  padding: 30px 0px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
.circle-number {
  height: 44px;
  width: 44px;
  border: 3px solid #fff;
  border-radius: 22px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;

}

.btn-contact {
  padding: 20px;
  width: 100%;
  max-width: 570px;
  border: 1px solid #d5d5d5;
  margin-top: 30px;
  margin-bottom: 20px;

}
.btn-contacto{
text-decoration: none;
 margin: 0px;
 background-color: #e0b905;
  color: #fff;
       padding: 20px;
    text-align: center;
    border:0px solid #ffffff;
     width:300px;
margin-top: 30px;
     cursor: pointer;
     text-shadow: none;
     margin-bottom: 50px;
}

.btn-contacto:hover{
  background: #daad28;
  text-decoration: none;
}
.Contact .seccion2 {
  padding-top: 50px;
}
.Contact .seccion2 .row {
  margin-top: 40px;
  margin-bottom: 20px;
}
.Contact .form-control{
   font-size: 18px;
   height: 45px;
   color:#a5a4a4;
   border-radius: 0px;
   border: none;
   border-bottom: 1px solid #c9c8c8;
}
.subtitle-contact {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #a5a4a4;
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type=radio] + label {
  margin-left: 10px;
  color: #a5a4a4;
} 
.areatext {
  height: 100px;
  padding: 10px;
  color: #a5a4a4;
}
.Contact #formul .form-control3{
   width: 100%!important;
   height: 219px ;
   background-color:#dcdcdc00;
   font-size: 18px;
   color:#000;
   border: 1px solid rgba(0,0,0,.15);
}
.btn-contact {

}

.Contact #formul #boton{
  height: 100px;
font-size: 18px;
width: 50%;
   text-decoration: none;
   margin: 0px;
   background-color: #fcda00;
   color: #242f6b;
   text-align: center;
   border: 0px solid #ffffff;
   padding: 10px;
}

.Contact #formul {
  margin: 0 auto;
  padding-top: 50px;
}
.Contact .form-control::-webkit-input-placeholder {
    color: #747474!important;
}

.Contact ::-webkit-input-placeholder {
    -webkit-text-security: none;
      color:  #747474!important;
    pointer-events: none !important;
}
.Contact #btncontact {
  text-align: left;
}

.Contact .sliderP2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    text-shadow: none;
}

.Contact .row {
    margin-right: 0;
    margin-left: 0;
}

.Contact .sembla {
    padding: 40px;
    padding-right: 2%;
    width: 100%;
    height: auto;
    text-align: center;
}

.Contact .sembla {
    padding: 40px;
    padding-right: 2%;
    width: 100%;
    height: auto;
    text-align: center;
}

.Contact .seccion6 .contenedorGaleria {
    position: relative;
    height: 430px;
}
.Contact .seccion6 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 1;
}

.Contact .seccion6 .texto {
    background-color: #ffcc00;
    color: #000;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 60px;
    width: 80%;
    z-index: 10;
}

.Contact .ers2 {
    text-decoration: none;
    margin: 0 auto;
    background-color: #ffcc00;
    color: #4d4d4d;
    padding: 20px;
    text-align: center;
    border: 0px solid #ffffff;
    width: 300px;
    margin-top: 0px;
    cursor: pointer;
    text-shadow: none;
}

.Contact .panelboton {
    text-decoration: none;
    margin: 0 auto;
    background-color: #ffffff;
    color: #4d4d4d;
    padding: 20px;
    text-align: center;
        border: 1px solid #9a9a9a;
    width: 100%;
    margin-top: 0px;
    cursor: pointer;
    text-shadow: none;
}

.Contact .btnradios {
    text-decoration: none;
    margin: 0 auto;
    background-color: #fff;
    color: #4d4d4d;
    padding: 20px;
    text-align: center;
        border: 1px solid #9a9a9a;
    width: 100%;
        height: 80px;
    margin-top: 0px;
    cursor: pointer;
    text-shadow: none;
}



.btnradios input[type="radio"]:empty,
.btnradios input[type="checkbox"]:empty {
  display: none;
}





.btnradios input[type="radio"]:hover:not(:checked) ,
.btnradios input[type="checkbox"]:hover:not(:checked)  {
  color: #888;
    background-color: #ffcc00;
}

.Contact .btnradios:checked {

    background-color: #ffcc00;
}

.Contact .btnradios:hover {

    background-color: #ffcc00;
}








.Contact .panelboton:hover {
    text-decoration: none;
    margin: 0 auto;
    background-color: #ffcc00;
    color: #4d4d4d;
    padding: 20px;
    text-align: center;
      border: 1px solid #9a9a9a;;
    width: 100%;
    margin-top: 0px;
    cursor: pointer;
    text-shadow: none;
}
.navbar-toggle {
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 1000;
    height: 34px;
}
.menu-mobile {
  display: none;
}
.select-map{
  text-align: center;
width: 100%;
height: 50px;
background-color: #f2e93c;
border-color: #3649ac57;
}

.mapa2{
  display: none;

    height: 480px;

}
.mapa{
  display: block;
}

.mov-map {
      background: rgb(34, 76, 164);
    max-height: 100%;
    height: 250px;
    width: 100%;
    /* max-width: 500px; */
    overflow: auto;
    margin: 0 auto;
    z-index: 1;
    border: 1px solid;
    border-color: #0c4d86;
}
.mov-map span {
    font-size: 30px;
    text-align: center;
    margin-right: 0px;
    display: block;
    padding: 8px;
    color: #fff;
    border-bottom: 1px solid #5470b6;
}
.mov-map p {
    font-size: 20px;
    text-align: center;
    margin-right: 0px;
    display: block;
    padding: 8px;
    color: #fff;
}


@media (max-width: 2990px) {
  .mapa #sucursal1 {
    bottom: 75%;
    position: absolute;
    left: 46%;
    font-size: 30px;
    color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 52%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 48%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 52%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 63%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 2590px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 46%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 52%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 48%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 52%;
    font-size: 24px;
    color: #fff;
  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 64%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 2290px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 46%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 52%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 48%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 53%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 65%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 2190px) {
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 66%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 1990px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 45%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 52%;
    font-size: 30px;
    color: #fff;
  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 48%;
    font-size: 24px;
    color: #fff;
  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 53%;
    font-size: 24px;
    color: #fff;
  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 68%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 1790px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 45%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 53%;
    font-size: 30px;
    color: #fff;
  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 48%;
    font-size: 24px;
    color: #fff;
  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 53%;
    font-size: 24px;
    color: #fff;
  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 70%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 1590px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 45%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 53%;
    font-size: 30px;
    color: #fff;
  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 48%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 53%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 72%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 1490px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 44%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 53%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 47%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 54%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 74%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 1390px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 43%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 53%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 47%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 54%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 76%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 1290px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 42%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 53%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 47%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 54%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 77%;
    font-size: 24px;
    color: #fff;
  } 
}
@media (max-width: 1200px) {
  .Contact .seccion2.container {
    width: 100%;
  }
}
@media (max-width: 1190px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 42%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 54%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 47%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 55%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 79%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 1090px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 41%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 54%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 47%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 55%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 83%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 991px) {
  .Nosotros .seccion6 {
    padding: 50px 0px;
  }
  .Ers .borde {
  height: 330px;
  }
  .Ers .seccion6 .texto {
    width: 70%;
    max-width: 300px;
  }
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 40%;
  font-size: 30px;
  color: #fff;
  }

  .mapa {
    width: 100%;
  }

  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 55%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 46%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 56%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 86%;
    font-size: 24px;
    color: #fff;
  }
  .Ers .valoresh {
    padding: 15px;
  }
  .Contact .col-md-3 {
    width: auto;
    flex: initial;
    margin-right: 40px;
    max-width: 250px;
  }
}
@media (max-width: 930px) {
  .Nosotros .seccion1 {
      height: auto;
  }
  .Nosotros .seccion2 {
    height: auto;
  }
  .Nosotros .seccion3 {
    height: auto;
  }
  .Nosotros .seccion4 {
    height: auto;
  }
  .Nosotros .seccion5 {
    height: auto;
  }

  .navbar-toggle {
    display: block;
  }

  .menu-mobile span {
    margin-right: 0px;
    display: block;
    padding: 8px;


    background: rgba(70, 97, 175, 0.8);
    color: #fff;
    border-bottom: 1px solid #5470b6;
  }
  .menu-mobile {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 76px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
  }
  .menu-mobile.open {
    max-height: 500px;
    overflow: auto;
  }
  #menu-complete {
    display: none;
  }
  .porque-trabajar {
    height: 500px;
  }
  .mejoracuadros1, .mejoracuadros2 {
    height: 260px;
  }
  .mejoracuadros1 h3, .mejoracuadros2 h3 {
    margin-top: 0px;
  }
  .demo2 .slider {
    height: 500px;
  }
  
  .sliserv { 
    padding: 40px 0px;
  }
  .Nosotros .seccion2 .sembla .semblaIcon {
    width: 100px;
  }
  .cont-semblanza {
    width: calc(100% - 110px);
  }
  .Ers .borde {
    height: 360px;
  }
  .Contact .col-md-3 {
        margin-right: 30px;
  }
}
@media (max-width: 890px) {
  .mapa2 {
    display: block;
    height: auto !important;
    padding-bottom: 30px;
  }
  .demo1 {
    height: auto;
  }
  .sliderP2 {
    font-size: 38px;
  }
  .mapa{
    display: none;
  }
  .mapa2{
    display: block;
  }
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 39%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 55%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 45%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 56%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 90%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 800px) {

  .Ers .seccion3 {
    height: auto !important;
  }
    .slider {
      height: 700px;
    }
}
@media (max-width: 790px) {
  .mapa #sucursal1 {
  bottom: 75%;
  position: absolute;
  left: 42%;
  font-size: 30px;
  color: #fff;
  }
  .mapa #sucursal2 {
    margin-top: -440px;
    position: absolute;
    left: 59%;
    font-size: 30px;
    color: #fff;

  }
  .mapa #sucursal3 {
    margin-top: -290px;
    position: absolute;
    left: 47%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal4 {
    margin-top: -270px;
    position: absolute;
    left: 60%;
    font-size: 24px;
    color: #fff;

  }
  .mapa #sucursal5 {
    margin-top: -264px;
    position: absolute;
    left: 97%;
    font-size: 24px;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .sliderh1 {
    font-size: 60px;
    line-height: 60px;
  }
  .sliderVacanteh1, .sliderVacanteh3 {
    font-size: 45px;
  }
  .sliderVacanteh2, .sliderVacanteh4 {
    font-size: 38px;
  }
  .mejoracuadros1.second {
    background-color: #e0b905;
  }
  .mejoracuadros2.second {
    background-color: #224ca4;
  }
  .imgNosotros {
    height: 500px;
  }
  .Nosotros .seccion4 {
    padding-bottom: 40px;
  }

  .Servicios .valoresh h3 {
    margin: 20px 0px;
  }
  
  .Nosotros .logoesr {
    padding-top: 20px;
  }
  .carousel-caption {
    right: 40px;
    left: 40px;
  }
  .demo2 .carousel-inner, .demo .carousel-inner {
    height: 500px;
  }
  .Ers .sembla .culturaTitulo {
    font-size: 40px;
  }
  .Ers .sembla .culturaP {
    font-size: 16px;
  }
  .Galeri h3 {
    font-size: 20px;
  }
  .Galeri .seccion6 .contenedorGaleria {
    height: 300px;
  }
}

@media (max-width: 645px) {

  .Nosotros .row {
      margin-right: 0px;
      margin-left: 0px;
  }
  .Nosotros .sembla {
    padding: 30px;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .Nosotros .seccion4 .sembla {
    padding: 0px 30px;
  }
  .texto_redes {
    margin: 0 auto;
    margin-top: 30px;
  }
  .dark.left {
    margin-left: auto;
  }
  .Nosotros .seccion2 .sembla #semblaIcon {
    float: inherit;
    margin-top: 120px;

  }

  .Nosotros .seccion1 {
      height: auto;
  }
  .Nosotros .seccion2 {
    height: auto;
  }
  .Nosotros .seccion3 {
    height: auto;
  }
  .Nosotros .seccion4 {
    height: auto;
  }
  .Nosotros .seccion5 {
    height: auto;
  }

  .Ers .seccion1 {
      height: auto;
  }
  .Ers .seccion2 {
    height: auto;
  }
  .Ers .seccion3 {
  height: auto;
  }
  .Ers .seccion4 {
  height: auto;
  }
  .Ers .seccion5 {
  height: auto;
  }
  
  .Servicios .valoresh {
      padding: 40px;
      width: 100%;
      height: auto;
      background-color: #fff;
      text-align: center;
  }

  .main .border-none {
    display: none;
  }
  .main a:nth-child(3) span {
    border-right: none !important;
    padding-right: 0px !important;
  }
  h1{
    text-align: center;
    
  }
  .Nosotros .seccion2 .sembla h1 {
    text-align: left;
  }
  .slider {
      object-fit: cover;
      width: 100%;
      height: 550px;
  }
  .sliderP {
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    text-shadow: none;
  }

  .sliserv {
    padding: 40px;
    padding-right: 0%;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .serviciosh {
    width: 100%;
    height: 450px;
    background-color: #06225cd4;
  }
  .serviciosh h3 {
    text-align: center;
    color: #ffe500;
    font-size: 28px;
    font-weight: 900;
    margin: 0;
    text-shadow: none;
    margin-top: 30px;
  }
  .serviciosh p {
    text-align: center;
    color: #ccc9c9;
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    text-shadow: none;
  }
  .franjaServ div {
    text-align: center;
    width: 100px;
    background-color: #ffe500;
    height: 14px;
    margin: 0 auto;
  }

  .sliderP2 {
      font-size: 30px;
    font-weight: 900;
    margin: 0;
    text-shadow: none;
      text-align: center;
  }
  .sliderVacante {
      object-fit: cover;
      width: 100%;
      height: 800px;
  }
  .Footer .logodam {
    top: 20px;
    position: relative;
    display: block;
    width: 100px;
    margin: 0 auto;
    left: initial;
  }
  .Footer #footer_main #menu1 nav#main span {
    display: inline-block;
    padding: 0px 6px;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #224ca4;
    font-size: 14px;
    font-weight: 400;
    position: relative;
  }
  
  .Footer #footer_main #menu1 {
    height: 100px;
    position: relative;
    padding: 5px 0px;
    padding-top: 0px;
    background-color: #fcda00;
  }
  .Footer #footer_main #menu1 nav#main {
    float: initial;
    right: 15px;
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    text-align: center;
    position: relative;
    top: 20px;
  }
    .damsa-escucha {
      background-position: right;
    }
    .Nosotros .ers2 {
      margin: 30px auto 0px;
    }
    .container-btns-contact {
    width: 100%;
    left: 0px;
    }
}
@media (max-width: 575px) {
  .serviciosh {
      height: auto;
      padding-bottom: 30px;
  }
  .demo2 .carousel-inner, .demo .carousel-inner {
    height: 400px;
  }
  .carousel-caption {
    bottom: initial;
    top: 120px;
  }
  .subtitle {
    font-size: 16px;
  }
  .mejoracuadros1.second {
    background-color: #224ca4;
  }
  .mejoracuadros2.second {
    background-color: #e0b905;
  }
  .mapa2 {
    width: 100%;
  }
  .select-location {
    max-width: 330px;
  }
  #contacto {
    height: auto;
    padding-bottom: 30px;
  }
  .carousel-control-prev-icon:before, .carousel-control-prev-icon:after,
  .carousel-control-next-icon:before, .carousel-control-next-icon:after {
    border-right: 4px solid #25559b;
    height: 16px;
    margin-top: 1px;
  }
  .carousel-control-prev-icon:after, .carousel-control-next-icon:after {
    margin-top: 10px;
  }
  .sliderh1 {
    font-size: 30px;
    line-height: 30px;
  }
  .sliderP2 {
    font-size: 20px;
  }
  .texto_redes, .texto_vacantes, #formul #boton {
    width: 200px;
    font-size: 16px;
    height: 40px;
    line-height: 0px;
  }
  .Ers .borde {
    height: 240px;
  }
  .Contact .col-md-3 {
    width: 100%;
  }
  
}
@media (max-width: 495px) {
  .imgNosotros {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .header #header_main #menu1 nav.main span {
    padding: 0px 9px;
    font-size: 11px;
  }
  .Ers .borde {
    height: auto;
  }
  .Ers .valoresh p.vermas {
    position: relative;
    text-align: left;
  }
}

@media (max-width: 390px) {
  .header #header_main #menu1 nav.main span {
    padding: 0px 7px;
    font-size: 10px;
  }
}



