.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    padding-left: 0px;
    height: 116px;
    z-index: 105;
    background-color: #ffffff;

    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.25);
}
.header #header_main #menu {
    height: 78px;
    position: relative;
    padding: 5px 0px;
    padding-top: 0px;
}
.main {
    top: 10px;
    right: 0px;




    text-align: center;

    position: absolute;
}

.main span.icon-user {
    border-right: none;
    margin-right: 0px;
}
.main span {
    display: inline-block;
  padding: 12px 10px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #224ca4;
    text-transform: uppercase;
    border-right: 2px solid #2a84c9;
    font-size: 13px;

    font-weight: 400;
    position: relative;
}

.header #header_main #menu nav.main span:hover {

    color: #ffcc0c;
    text-transform: uppercase;
    border-right: 2px solid #2a84c9;

}

.valign{
  position:relative;
  top:50%;
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  vertical-align:top;
}
.logodam {
  top: 10px;
  position: absolute;
width: 160px;
margin: 0 auto;
left: 30px;

}
.navbar-toggle .icon-bar {
    background-color: #224ca4;
    transition: transform .2s;
}

.navbar-toggle {
    border-color: #8fa5d4;
}

.navbar-toggle.open .icon-bar:first-child {
  transform: rotate(45deg);
  position: absolute;

  top: 15px;
  
}
.navbar-toggle.open .icon-bar:nth-child(2) {
  opacity: 0;
}
.navbar-toggle.open .icon-bar:nth-child(3) {
  transform: rotate(135deg);
  position: absolute;

  top: 11px;
}
.header #header_main #menu1 {
    height: 40px;
    position: relative;
    padding: 5px 0px;
    padding-top: 0px;
      background-color: #224ca4;
}
.header #header_main #menu1 nav.main {
    float: right;
    right: 15px;
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    text-align: center;
    position: relative;
}
.header #header_main #menu1 nav.main span {
    display: inline-block;
  padding: 0px 14px;
    height: 25px;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #fff;

    border-right: 1px solid #fff;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.header #header_main #menu1 nav.main .border-none span {
  border-right:none;
}
.slider {
  width: 100%;
  height: 900px;
}
.sliderP {
  color:#224ca4;
}
.sliderh1 {
  color:#224ca4;
  font-size: 70px;
  font-weight: bold;
}
.sliderP2 {
    color:#224ca4;
    font-weight: bold;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 22%;
    color: #fff;
    text-align: left;
}
.texto_redes{
text-decoration: none;
 margin: 0px;
 background-color: #e0b905;
  color: #4d4d4d;
       padding: 20px;
    text-align: center;
    border:0px solid #ffffff;
     width:300px;
margin-top: 30px;
     cursor: pointer;
     text-shadow: none;
}
.texto_redes:hover{
  background: #daad28;

}
.decoration-none {
  text-decoration: none !important;
}

#valoresh{
  padding: 40px;
  padding-right: 2%;
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;
}
#valoresh h3{
  color: #224ca4;
}
#valoresh p{
  color: #224ca4;
}
.icon-user {
  font-size: 30px !important;
    vertical-align: middle;
    margin-right: 15px;

}
.dark div{
      width: 100px;
      background-color: #ffe500;
      height: 14px;
      margin: 0 auto;
      text-align: center;;
}


#serviciosh{
  padding: 40px;
  padding-right: 2%;
    width: 100%;
    height: 535px;
    background-color: #06225cd4;

}
#serviciosh h3{
  text-align: left;
  color: #ffe500;
  font-size: 28px;
  font-weight: 900;
  margin: 0;
  text-shadow: none;
}
#serviciosh p{
  color: #ccc9c9;


  font-size: 16px;
  font-weight: 900;
  margin: 0;
  text-shadow: none;
}
#serviciosub{
  color: #ccc9c9;
  text-align: left;

  font-size: 16px;
  font-weight: 900;
  margin: 0;
  text-shadow: none;
}
.franjaServ div{
      width: 100px;
      background-color: #ffe500;
      height: 14px;

}

#serviciosh1{
  height: 535px;
  padding-right: 1px;
  padding-left: 1px;
}
.imgServ {
    height: 535px;
    width: 100%;
}
#ds{
      margin-top: 80px;
}

#sliserv{
  padding: 40px;
  padding-right: 2%;
    width: 100%;
    height: auto;

    text-align: center;
}
#sliserv h3{
  color: #fff;
}
#sliserv p{
  color: #fff;
}

#indicads .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #ddd404;

}


.sliderP3 {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    text-shadow: none;
}


.sliderVacante {
  width: 100%;
  height: 800px;
}
.sliderVacanteP {
  color:#224ca4;
}
.sliderVacanteh1 {
  color:#224ca4;
  font-size: 70px;
  font-weight: bold;
}
.sliderVacanteP2 {
    color:#224ca4;
    font-weight: bold;
}
#textoEncima1{
  top: 50%;
transform: translateY(-50%);
position: absolute;
z-index: 300;

}
#textoEncima{
  top: 50%;
transform: translateY(-50%);
position: absolute;
z-index: 300;
    text-align: center;
}
.texto_vacantes {
    text-decoration: none;
    margin: 0 auto;
    background-color: #e0b905;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border: 0px solid #ffffff;
    width: 300px;
}

.filtroimg{
  background-color: #020e5785;
  width: 100%;
  height: 800px;
}

#mejoracontinua{
  text-align: center;
  width: 100%;
  height: 200px;

}
#mejoracontinua h3{
 color: #224ca4;
     margin-top: 54px;

}
.franjaServ1 div{
      width: 100px;
      background-color: #ffe500;
      height: 14px;
      margin: 0 auto;

}
#mejoracuadros1 {
    padding: 40px;
    padding-right: 2%;
    width: 100%;
    height: 400px;
background-color: #224ca4;
    text-align: center;
}

#mejoracuadros1 h3{
  margin-top: 100px;
  color: #fff;
  font-size: 40px
}
#mejoracuadros1 h2{

  color: #fff;
  font-size: 22px
}

#mejoracuadros2 {
    padding: 40px;
    padding-right: 2%;
    width: 100%;
    height: 400px;
background-color: #e0b905;
    text-align: center;
}

#mejoracuadros2 h3{
  margin-top: 100px;
}
#mejoracuadros2 h3{
  margin-top: 100px;
  color: #fff;
  font-size: 40px
}
#mejoracuadros2 h2{

  color: #fff;
  font-size: 22px
}
.SliderI {





  margin-top: 116px;
}
.sliderP {
  font-size: 26px;
  font-weight: 300;



















  margin: 0;
  text-shadow:none;


}
.sliderh1 {










  font-size: 80px;
  font-weight: 900;





















  margin: 0;
  line-height: 70px;
  text-shadow:none;






}




.sliderP2 {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  text-shadow:none;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}
.carousel-control-next-icon:before, .carousel-control-next-icon:after {
    border-right: 6px solid #25559b;
    content: '';
    display: block;
    height: 28px;










    margin-top: -6px;
    position: absolute;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 30px;
    top: 50%;












    width: 0;



}


.carousel-control-next-icon:after {
    margin-top: 10px;


    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}









.carousel-control-prev-icon:before, .carousel-control-prev-icon:after {
    border-right: 6px solid #25559b;
    content: '';
    display: block;
    height: 28px;
    margin-top: -6px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 30px;
    top: 50%;
    width: 0;



}


.carousel-control-prev-icon:after {
    margin-top: 10px;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#mapa {
  height: 680px;
}

.Footer {

    width: 100%;
left: 0;
top: 0;

padding-left: 0px;

z-index: 105;
background-color:#224ca4 ;
box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.25);

}

#demo1{
      height: 2780px;
}

.Footer #footer_main #menu {

    position: relative;
    padding: 5px 0px;
    padding-top: 0px;
}

.Footer #footer_main #menu1 {
    height: 80px;
    position: relative;
    padding: 5px 0px;
    padding-top: 0px;
    background-color: #fcda00;
}
.Footer #footer_main #menu nav#main {
    top: 50%;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    position: relative;
}

.Footer #footer_main #menu nav#main span {
    display: inline-block;
    padding: 12px 4px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #fff;
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.Footer #footer_main #menu1 nav#main {
    float: right;
    right: 15px;
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    text-align: center;
    position: relative;
        top: 20px;
}

.Footer #footer_main #menu1 nav#main span {
    display: inline-block;
    padding: 0px 14px;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #224ca4;

    font-size: 14px;
    font-weight: 400;
    position: relative;
}

#contacto {
  height: 800px;
  background-color: #242f6b;
}

#contacto h3{
color: #ffe500;
}
#contacto p{
color: #fff;
}

#formul .form-control{
   background-color:#dcdcdc52;
   font-size: 18px;
   height: 45px;color:#ffffff;
}
#formul .form-control3{
   width: 100%!important;
   height: 219px ;
   background-color:#dcdcdc52;
   font-size: 18px;
   color:#ffffff;
}

#formul #boton{
  height: 100px;
font-size: 18px;
width: 50%;
   text-decoration: none;
   margin: 0px;
   background-color: #fcda00;
   color: #242f6b;
   text-align: center;
   border: 0px solid #ffffff;
   padding: 10px;
}

#formul {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
}
.form-control::-webkit-input-placeholder {
    color: #fff!important;
}

::-webkit-input-placeholder {
    -webkit-text-security: none;
      color: #fff!important;
    pointer-events: none !important;
}
#btncontact {
  text-align: left;
}
.navbar-toggle {
    position: absolute;
    right: 0px;






    top: 10px;



    z-index: 1000;

















    height: 34px;

}
.menu-mobile {
  display: none;
}
@media (max-width: 930px) {

  .navbar-toggle {
    display: block;
  }

  .menu-mobile span {
    margin-right: 0px;
    display: block;
    padding: 8px;


    background: rgba(70, 97, 175, 0.8);
    color: #fff;
    border-bottom: 1px solid #5470b6;
  }
  .menu-mobile {










    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 76px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
  }
  .menu-mobile.open {
    max-height: 500px;
    overflow: auto;
  }
  #menu-complete {
    display: none;
  }
}

@media (max-width: 645px) {
  .main .border-none {
    display: none;
  }
  .main a:nth-child(3) span {
    border-right: none !important;
    padding-right: 0px !important;
  }
}
@media (max-width: 495px) {
  .header #header_main #menu1 nav.main span {
    padding: 0px 9px;





    font-size: 11px;


  }









}

@media (max-width: 390px) {
  .header #header_main #menu1 nav.main span {

    padding: 0px 7px;







    font-size: 10px;


  }




}
